@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Charm&family=Leckerli+One&family=Open+Sans:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/*
font-family: 'Ephesis', cursive;
font-family: 'Charm', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Satisfy', cursive;
*/

body {
    overflow-x: hidden;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4,
.events {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax1 {
    background-image: url("res/background/bg1.jpg");
    min-height: 100vh;
}

.parallax2 {
    background-image: url("res/background/bg2.jpg");
    min-height: 50vh;
    padding-bottom: 20px;
}

.parallax3 {
    background-image: url("res/background/bg3.jpg");
    min-height: 50vh;
}

.parallax4 {
    background-image: url("res/background/bg4.jpg");
    min-height: 20vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.41);
}

.header-content {
    display: flex;
    align-items: center;
    margin: 5px auto;
}

.left {
    justify-content: left;
    padding-left: 10vw;
    width: 30%;
}

.right {
    justify-content: right;
    padding-right: 10vw;
    width: 70%;
}

.right ul a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    padding: 1vw;
}

.right ul a:hover {
    color: #ffee00;
    transition-duration: 0.2s;
}

.right ul {
    padding: 1rem;
}

.logo {
    max-width: 70px;
    padding: 5px;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.titleImg {
    max-width: 40vmax;
}

.homepagebuttonssection {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 100px;
}

.homepagebuttons {
    position: relative;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border-radius: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
    border: 20px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.478);
    color: rgb(255, 255, 255);
    margin: 1vw;
}

.homepagebuttons:hover {
    color: #ffee00;
    transition-duration: 0.2s;
}

.count,
.ribbon {
    background-color: rgb(0, 0, 0);
}

.countImg {
    width: 80vw;
    min-height: 6vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ribbonImg {
    width: 96vw;
    min-height: 3vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

.subTitles {
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: 'Ephesis', cursive;
    font-size: 50px;
    padding-top: 16px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.667);
}

.eventtitle {
    font-size: 70px;
}

.aboutText {
    margin: 0 10px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    text-justify: newspaper;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.411);
}


.eventImg {
    max-width: 30vmax;
    padding: 3vw;
}

.parallax3 {
    padding-bottom: 4em;
}

.enrollbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

.enrollbutton a {
    background-color: rgba(0, 0, 0, 0.493);
    text-decoration: none;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.enrollbutton a:hover {
    color: #ffee00;
    transition-duration: 0.2s;
}

.flashback {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax4 h2 {
    font-size: 70px;
}

.flashImg {
    max-width: 120%;
    max-height: 120vh;
    padding-bottom: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

footer {
    background: #343434;
    padding-top: 50px;
}

.footercontainer {
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 50%;
}

footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    font-size: 0.8rem;
    width: 190px;
    margin: auto;
    padding: 7px;
    padding-left: 20px;
}

.footer-content ul {
    text-align: center;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

footer a {
    color: white;
}