{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encore'24</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/536b7f8348.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="parallax1">
        <header>
            <div class="container">
                <div class="header-content left">
                    <img src="res/logo_iet.png" class="logo">
                </div>
                <div class="header-content right">
                    <ul>
                        <a href="pages/event.html">Events</a>
                        <a href="pages/caportal.html">CA Portal</a>
                        <a href="pages/sponsor.html">Sponsors</a>
                        <a href="pages/login.html" class="active">Login</a>
                    </ul>
                </div>
            </div>
        </header>
        <div class="title">
            <img src="res/titletext.png" class="titleImg">
        </div>
        <div class="homepagebuttonssection">
            <a href="pages/register.html" class="homepagebuttons">Register Now!</a>
            <a href="#events" class="homepagebuttons">Explore Events</a>
        </div>
    </div>

    <div class="count">
        <img src="res/count.png" class="countImg">
    </div>

    <div class="parallax2">
        <h2 class="subTitles">About &nbsp; Encore 24</h2>
        <p class="aboutText">
            Embark on a legacy as the Institute of Engineering and Technology, Lucknow,
            proudly unfolds the annual saga of "Encore." With a storied history spanning
            many years, this iconic event has evolved into a beacon of excellence and
            innovation. Encore has had the honor of hosting renowned personalities,
            including the melodious Jubin Nautiyal and the vivacious Neha Kakkar,
            whose captivating performances added an unforgettable dimension to the
            event's narrative.
            <br><br>
            Join us for a time-honored celebration where tradition gracefully intertwines
            with modernity, and where the echoes of the past resonate with the promise of
            an even grander future. Beyond a mere gathering, Encore is a testament to the
            enduring spirit of creativity, talent, and camaraderie that has defined our
            institution over the years.
            <br><br>
            Don't miss your chance to be part of this historic event that continues to
            attract and inspire with each passing year. Immerse yourself in the symphony
            of brilliance and witness the convergence of legendary legacies at Encore!
        </p>
    </div>


    <div class="ribbon">
        <img src="res/ribbon.png" class="ribbonImg">
    </div>

    <div class="parallax3" id="events">
        <h2 class="subTitles eventtitle">Events</h2>

        <center>
            <img src="res/event/1.jpg" class="eventImg">
            <img src="res/event/2.jpg" class="eventImg">
            <img src="res/event/3.jpg" class="eventImg">
            <img src="res/event/4.jpg" class="eventImg">
            <img src="res/event/5.jpg" class="eventImg">
            <img src="res/event/6.jpg" class="eventImg">
            <img src="res/event/7.jpg" class="eventImg">
            <img src="res/event/8.jpg" class="eventImg">
            <img src="res/event/9.jpg" class="eventImg">
            <img src="res/event/10.jpg" class="eventImg">
            <img src="res/event/11.jpg" class="eventImg">
            <img src="res/event/12.jpg" class="eventImg">
            <img src="res/event/13.jpg" class="eventImg">
            <img src="res/event/14.jpg" class="eventImg">
            <img src="res/event/15.jpg" class="eventImg">
            <img src="res/event/16.jpg" class="eventImg">
            <img src="res/event/17.jpg" class="eventImg">
            <img src="res/event/18.jpg" class="eventImg">
            <img src="res/event/19.jpg" class="eventImg">
            <img src="res/event/20.jpg" class="eventImg">
            <img src="res/event/21.jpg" class="eventImg">
            <img src="res/event/22.jpg" class="eventImg">
            <img src="res/event/23.jpg" class="eventImg">
            <img src="res/event/24.jpg" class="eventImg">
            <img src="res/event/25.jpg" class="eventImg">
            <img src="res/event/26.jpg" class="eventImg">
            <img src="res/event/27.jpg" class="eventImg">
            <img src="res/event/28.jpg" class="eventImg">
            <img src="res/event/29.jpg" class="eventImg">
        </center>
        <div class="enrollbutton">
            <a href="pages/event.html">Click here to enroll in your favourite events!</a>
        </div>
    </div>

    <div class="ribbon">
        <img src="res/ribbon.png" class="ribbonImg">
    </div>

    <div class="parallax4">
        <div class="flashback">
            <h2 class="subTitles">Flashbacks</h2>
        </div>
        <div class="flashback">
            <img src="res/flashback/combine.png" class="flashImg">
        </div>
    </div>


    <footer>
        <div class="footercontainer">
            <div class="footer-content">
                <h3>Contact Us</h3>
                <p>Email: encore@ietlucknow.ac.in</p>
                <p>Phone: +91 9555648766</p>
                <p>Address: Institute of Engineering and Technology, Lucnkow 226021</p>
            </div>
            <div class="footer-content">
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/EncoreIET?mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/encore.iet?igsh=dzQ5MGVmaWQxMTJh"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-bar">
            <p>Institute of Engineering and Technology, Lucknow</p>
        </div>
    </footer>

</body>

</html>